.custom-toggle-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px; /* jarak antar tombol */
    border: none; /* hapus border luar biar bersih */
    margin-bottom: 0; /* biar nempel dengan card header */
    margin-left: 0px; /* sedikit jarak dari kiri */
}

/* Tombol toggle */
.custom-btn-outline-primary {
    border: 1px solid #663ffa;
    color: #663ffa;
    background-color: #fff;
    font-weight: 500;
    font-size: 0.875rem; /* lebih kecil */
    padding: 6px 12px; /* lebih kecil juga */
    border-radius: 0rem;
    transition: all 0.25s ease-in-out;
}

.custom-btn-outline-primary:not(:last-child) {
    border-right: 1px solid #663ffa;
}

.custom-btn-outline-primary:hover {
    background-color: #663ffa;
    color: white !important;
}

/* Saat tombol aktif */
.custom-active-btn {
    background-color: #663ffa;
    color: #fff;
}
/* Header card (judul Daftar Tagihan) */
.custom-card-header {
    background-color: #663ffa;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: none;
    border-bottom: none;
    padding: 12px 18px;
    gap: 5px;
    margin-top: 0; /* biar nempel langsung */
}

/* Tombol proses pembayaran */
.custom-btn-info {
    background-color: #fff;
    color: #28bd43;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 6px 12px;
}

.custom-btn-info:hover {
    background-color: #28bd43;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#tabelSudahLunas {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 30%;
    appearance: none; /* Hilangkan style bawaan browser */
    border: 2px solid #663ffa;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.custom-checkbox:checked {
    background-color: #663ffa;
    border-color: #663ffa;
}

/* Biar ada centang putih di tengah */
.custom-checkbox:checked::after {
    content: "✔";
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
}

/* Tombol ungu */

.custom-btn-purple {
    background-color: #663ffa;
    color: #fff !important;
    border: none;
    border-radius: 0.4rem; /* kotak tapi sedikit rounded biar halus */
    width: auto; /* ukuran tombol */
    height: 36px;
    font-size: 15px; /* ukuran ikon + */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}

.custom-btn-purple:hover {
    background-color: #542dd9;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(102, 63, 250, 0.3);
}

.custom-btn-purple i {
    color: #fff !important;
    font-size: 18px;
}

.custom-icon-lg {
    font-size: 20px;
    vertical-align: middle;
    color: #fff !important;
    margin-right: 5px;
}

/* Header modal */
.custom-modal-header {
    color: #663ffa;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    align-items: center;
}
